.footer {
	padding-bottom: 40px;

	color: var(--color-black);
}

.footer__title {
	margin-bottom: 24px;

	font-size: clamp(10px, 5.4vw, 20px);
	font-weight: 600;
	white-space: nowrap;
}

.footer__info {
	margin-bottom: 60px;
	display: flex;
	align-items: center;
}

.footer__content-info {
	max-width: 280px;
}

.footer__content-text {
	margin-bottom: 35px;

	color: var(--color-black);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;

	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.footer__socials {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.menu__footer {
	margin: 0 160px;
	display: flex;
	column-gap: 158px;
}

.menu__footer-item + .menu__footer-item {
	margin-top: 16px;
}

.menu__footer-link {
    padding: 0;

    font-size: 16px;
    font-weight: 400;

	display: inline-block;
}

.menu__footer-list {
    flex-direction: column;
}

.footer__content {
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}

.footer__copyright {
	display: block;

	font-family: var(--second-family);
	color: var(--color-black-opacity);
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.footer__socials-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	aspect-ratio: 1;
}

.footer__socials-link:hover {
    color: var(--color-violet);
}

.footer__link {
    display: block;
    margin-bottom: 24px;
}

.footer__link:hover {
    opacity: 0.7;
}